@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body .page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

 body .page-header h1, body .page-header h1 a, body .page-header h1 a:visited, body .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

body .content {
    margin-left: 40px;
}

body h1, body h2, body h3, body h4 {
    font-family: 'Lobster', cursive;
}

body .date {
    color: #828282;
}

body .save {
    float: right;
}

body .post-form textarea, body .post-form input {
    width: 100%;
}

body .top-menu, body .top-menu:hover, body .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

body .post {
    margin-bottom: 70px;
}

body .post h2 a, body .post h2 a:visited {
    color: #000000;
}

